.title__page::after {
  content: "";
  display: block;
  width: 3rem;
  border-bottom: 0.4rem solid theme("colors.primary");
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}

.subtitle__page::after {
  content: "";
  display: block;
  width: 5rem;
  border-bottom: 0.4rem solid theme("colors.primary");
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}

.card__image img {
  transition: transform 0.5s ease;
}

.card__image:hover img {
  transform: scale(1.05);
}


.dark-mode {
  @apply dark:bg-secondary-500 dark:text-secondary-100 transition-all duration-500 ease-linear;
}

.dark-mode-fill {
  @apply dark:bg-secondary-600 dark:text-secondary-100 transition-all duration-500 ease-linear;
}